.header-main{
    background-color: #639c66;
    margin-top: 0;
    text-align: center;
}
h1{
    margin-top: 0;
}
.search-box{
margin-left: 1vw;
width: 75vw;   
height: 10vh;
font-size: 10vh ;
}
.circles{
    width: 5vw;
    height: 5vw;
    margin-left: 20px;
    border-radius: 10vw;
    color: white;
    border: 2px solid #000000; /* Adjust the color and thickness of the border */
    background-color: transparent; 
}
.search-row{
    display: flex;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
  }
  
  .button {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 0;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #e0e0e0;
  }